# Redirect everything to the main site. We use a separate server statement and NOT an if statement - see http://wiki.nginx.org/IfIsEvil
# sites-enabled/
# sites-available

server {
        server_name  _;
        return 302 $scheme://{{ ansible_role_nginx_domain }}$request_uri;
}

server {
    server_name {{ ansible_role_nginx_domain }};
    root {{ ansible_role_nginx_root_path }};
 
    index index.php;
 
    include global/restrictions.conf;
 
    # Additional rules go here.
 
    # Only include one of the files below.
    include global/wordpress.conf;
#    include global/wordpress-ms-subdir.conf;
#    include global/wordpress-ms-subdomain.conf;
}